h1 {
    color: #21DDE2;
    font-family: 'Paytone One', sans-serif;
}

p {
    font-family: 'Scada', sans-serif;
}

.feature-section {
    background: rgb(33,221,226);
    background: linear-gradient(90deg, rgba(33,221,226,1) 35%, rgba(9,9,121,1) 100%);
}

.title-white {
    font-family: 'Paytone One', sans-serif;
    color: white;
    padding-top: 10%;
}

#feature-description {
    color: white;
    font-family: 'Scada', sans-serif;
}

#function-title{
    color: #1BA4C6;
    font-family: 'Paytone One', sans-serif;
}

#function-section {
    padding-top: 2%;
}

.function-icon {
    color: #1BA4C6;
}

/* PRICE SECTION */

#price-title {
    font-family: 'Paytone One', sans-serif;
    color: white;
    text-align: center;
}
.price-background {
    /*background: #47BFE7;*/
    background: rgb(33,221,226);
    background: linear-gradient(90deg, rgba(33,221,226,1) 35%, rgba(9,9,121,1) 100%);
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    background-color: #21DDE2;
    border: none;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

.footer-area {
    background: rgb(33,221,226);
    background: linear-gradient(90deg, rgba(33,221,226,1) 35%, rgba(9,9,121,1) 100%);
}
